#header-wrapper {
    position: relative;
    z-index: 1;
}

#header-logo {
    text-align: center;
    margin-top: 5vh;
    line-height: 1.1;
}

main {
    padding-top: 5vh;
    position: relative;
}

@media only screen and (min-width: 960px) {
    #header-wrapper {
        position: fixed;
        left: 5%;
        top: 5vh;
        min-height: 90vh;
        width: 320px;
        z-index: 1;
    }
    #header-wrapper:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        background: $color-grey;
        width: 1px;
        opacity: 0.2;
    }
    #header-logo {
        text-align: left;
    }
    main {
        padding-top: 7vh;
        padding-bottom: 5vh;
        min-height: 100vh;
        padding-left: calc(5% + 320px);
        overflow: hidden;
        width: 100%;
        max-width: 1720px;
    }
}

#bg-image {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bg-filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(222, 222, 222, 0.8);
}
