/* personal basics and resets */

body {
    -webkit-font-smoothing: antialiased;
}


/* media */

figure {
    margin: 0
}

embed,
iframe,
img,
object,
video {
    max-width: 100%;
    _width: 100%
}

img {
    height: auto;
    width: auto\9;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

img[src$=".svg"] {
    width: 100%;
    max-height: 100%;
}


/* box-sizing */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* clearfix */

.clearfix::before {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
    content: " ";
    display: table;
}


/* Screen readers */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
